#colony-weather-title {
    text-align: center;
    font-size: 3rem;
    border: 5px solid #ff9900;
    border-radius: 1em;
    box-shadow: -5px 5px 0px 0px #ff9900;
    margin:4rem;
    background-color: black;
    color: white;
    opacity: 0.7;
}


.colony-inspections-wrapper {
    display: flex;
    flex-direction: column;
    border-radius:63px;
-moz-border-radius:63px;
-webkit-border-radius:63px;

}