#colony-weather-title, #colony-inspection-title {
    text-align: center;
    font-size: 2.5rem;
    border: 5px solid #ff9900;
    border-radius: 1em;
    box-shadow: -5px 5px 0px 0px #ff9900;
    margin:4rem;
    background-color: black;
    color: white;
    opacity: 0.7;

}

.Collapsible__trigger {
    text-align: center;
    font-size: 2.5rem;
    border: 5px solid #ff9900;
    border-radius: 1em;
    box-shadow: -5px 5px 0px 0px #ff9900;
    margin:4rem;
    background-color: black;
    color: white;
    opacity: 0.7;
    width:50%;
    margin-left: 35rem;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



 .container-insp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
  color: white;
}

 .container-insp .card-insp {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  opacity: 0.95;
}

.container-insp .card-insp:nth-child(1) .box-insp .content a {
  background: #ff8800;
   font-weight: bold;

}



.container-insp .card-insp:nth-child(2) .box-insp .content a {
  background: #e91e63;
}

.container-insp .card-insp:nth-child(3) .box-insp .content a {
  background: #23c186;
  
}

.container-insp .card-insp .box-insp {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container-insp .card-insp .box-insp:hover {
  transform: translateY(-50px);
}

.container-insp .card-insp .box-insp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container-insp .card-insp .box-insp .content {
  padding: 20px;
  text-align: center;
}

.container-insp .card-insp .box-insp .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.container-insp .card-insp .box-insp .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container-insp .card-insp .box-insp .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
  padding-bottom: 1rem;
}

.container-insp .card-insp .box-insp .content a {
  position: relative;
  /* display: inline-block; */
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  
}
.container-insp .card-insp .box-insp .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.content-insp > p {
    font-size: 20px;
    padding: 2rem;
    text-align: center;

}
.single-colony-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
}


