.flip-card {
    background-color: transparent;
    width: 190px;
    height: 290px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
            rgb(255, 211, 195) 40%, rgba(242, 81, 0, 0.673) 48%);
    color: coral;
    font-weight: bold;
    font-size: 1.3rem;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, #ff860d 88%,
            rgb(236, 149, 8) 40%, rgb(236, 149, 8) 78%);
    color: white;
    font-weight: bold;
    transform: rotateY(180deg);
}

.colony-card-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-colony-card {
    font-weight: bold;
    font-size: 15px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 9px;
    background: rgba(255, 140, 0, 0.804);
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.btn-colony-card:hover {
    box-shadow: 7px 5px 56px -14px #d9a600;
}

.btn-colony-card:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -20px #C3D900;
}


#colony-card-txt {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.2rem;
}