.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   .input-wrapper input:focus {
    outline-color: rgb(255, 213, 0);
   }
   
   .input-wrapper {
    display: flex;
    align-items: center;
    gap:.7rem;
   }

   .form-wrapper {
    display: flex;
    gap:0.7rem;
    justify-content: center;
   }


   

  .btn-add-colony {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }

  .btn-add-colony:hover {
    transform: translate(-0.05em, -0.05em);
 box-shadow: 0.15em 0.15em;
 cursor: pointer;
  }

  .btn-add-colony:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }
  