#weather-forecast-tile {
list-style-type: none;
padding-left: 3rem;
padding-top: 2rem;
width: 13rem;
height: 13rem;
border-radius: 44% 56% 50% 50% / 30% 11% 89% 70%;
background: linear-gradient(315deg, #ffbf00, #dd9b00);
box-shadow:  5px 5px 10px #ff9500,
             -5px -5px 10px #ff860d; 
}

img {
    align-self: center;
}

#weather-forecast-tile:hover {
    box-shadow: 7px 5px 56px -14px #C3D900;
}