.input-wrapper-insp4 input {
    background-color: #eee;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   .input-wrapper-insp4 input:focus {
    outline-color: rgb(255, 213, 0);
   }
   
   .input-wrapper-insp4 {
    display: flex;
    align-items: center;
    width: 85%;
    gap:.7rem;
   }

   .form-wrapper-insp4 {
    display: flex;
    gap:0.7rem;
    justify-content: center;
   }